
        <div class="row alerta text-center">
            <div class="alert alert-warning alert-dismissible alerta-panel" name="alerta-panel" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
        </div>

        <div class="row center-block animated fadeIn" id="subir-inicio">
    		<nav role="navigation"><a href="#inicio"><i class="fa fa-arrow-circle-up fa-2x" id="subir-inicio-icon"></i></a></nav>
    	</div>

        <div class="row text-center navbar" id="menu-inicio" >

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-inicio-items" style="color: white">
                        <i class="fa fa-bars fa-2x"></i>
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="menu-inicio-items">
                    <ul class="nav navbar-nav" style="width: 100%; margin-left: 0px;">

<!--                            <div class="col-md-2 col-sm-2 menu-inicio-item animated fadeIn">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contrata tu franquicia <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-inicio normal-animated fadeIn">
                                    <a class="button" data-toggle="modal" data-target="#panel-elsol">
                                        <li class="dropdown-menu-inicio-item">
                                            <img class="img animated fadeIn" src="/images/drops/drop-elsol.png" alt="Third drop">
                                        </li>
                                    </a>
                                    <a class="button" data-toggle="modal" data-target="#panel-after">
                                        <li class="dropdown-menu-inicio-item">
                                            <img class="img animated fadeIn" src="/images/drops/drop-after.png" alt="Second drop">
                                        </li>
                                    </a>
                                    <a class="button" data-toggle="modal" data-target="#panel-mediterraneo">
                                        <li class="dropdown-menu-inicio-item" style="border-bottom: none">
                                            <img class="img animated fadeIn" src="/images/drops/drop-med.png" alt="Third drop">
                                        </li>
                                    </a>
                                </ul>
                            </li>
                        </div> -->

                        <div class="col-md-2 col-sm-2 menu-inicio-item animated fadeIn">
                            <li><nav role="navigation"> <a href="#contrata-franquicia">&nbsp;Abre tu franquicia&nbsp;</a></nav></li>
                        </div>

                        <div class="col-md-2 col-sm-2 menu-inicio-item animated fadeIn">
                            <li><nav role="navigation"> <a href="#personas">&nbsp;Nuestras marcas&nbsp;</a></nav></li>
                        </div>

                        <div class="col-md-2 col-sm-2 menu-inicio-item animated fadeIn">
                            <li><nav role="navigation"> <a href="#quienes-somos">&nbsp;Quiénes somos&nbsp;</a></nav></li>
                        </div>

                        <div class="col-md-2 col-sm-2 menu-inicio-item animated fadeIn">
                            <li><nav role="navigation"> <a href="#servicios">&nbsp;Preguntas frecuentes&nbsp;</a></nav></li>
                        </div>

                        <div class="col-md-2 col-sm-2 menu-inicio-item animated fadeIn">
                            <li><nav role="navigation"> <a href="#contacto2">&nbsp;Contáctanos&nbsp;</a></nav></li>
                        </div>

                        <div class="col-md-1 col-sm-1 menu-inicio-item animated fadeIn">
                            <li><nav role="navigation"> <a href="https://elsecretodelexitodelosbares.wordpress.com">&nbsp;Blog&nbsp;</a></nav></li>
                        </div>

                        <div class="col-md-1 col-sm-1 menu-inicio-item animated fadeIn">
                            <li class="dropdown" style="list-style:none;">
                                <a href="#" class="dropdown-toggle" id="pais-selecionado" data-toggle="dropdown" data-close-others="true">
                                    <img id="img-pais" src="/images/flags/Spain-24.png"/>
                                </a>
                                <ul class="dropdown-menu pull-right animated fadeIn" id="lista-idiomas" style="max-width: 100px">
                                    <li class="disabled" id="sp"><a href="#"><img src="/images/flags/Spain-24.png"/> Spanish</a></li>
                                    <li id="en"><a href="/languages/en"><img src="/images/flags/United-Kingdom-24.png"/> English</a></li>
                                    <li id="fr"><a href="#"><img src="/images/flags/France-24.png"/> François</a></li>
                                    <li id="gr"><a href="#"><img src="/images/flags/Germany-24.png" /> German</a></li>
                                </ul>
<!--                                <% if (!session.user) { %>
                                    <a href="/login" style="color: white; font-size: 12px;">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-sign-in"></i> Login&nbsp;</a>
                                <%}%> -->
                            </li>
                        </div>

                    </ul>

                </div> <!-- /.navbar-collapse -->

        </div>


        <div class="animated fadeIn" id="wrap">
            <img class="bgfade responsive" src="/images/bg/img-1b.jpg">
            <img class="bgfade responsive" src="/images/bg/img-2b.jpg">
            <img class="bgfade responsive" src="/images/bg/img-3b.jpg">
            <img class="bgfade responsive" src="/images/bg/img-4b.jpg">
            <img class="bgfade responsive" src="/images/bg/img-5b.jpg">
            <img class="bgfade responsive" src="/images/bg/img-6b.jpg">
        </div>

        <!-- inicio =================================================================================================================== -->

        <div class="container-fluid text-center animated fadeIn" id="inicio">

            <div class="row animated fadeIn center-block" id="logo-inicio">
                <img class="img" src="images/logos/logo-inbaar.png" alt="Generic placeholder image"> <br>
                <img class="img ocultar-movil" src="images/logos/texto-inbaar.png" alt="Generic placeholder image">
            </div>

            <div class="row animated fadeIn" id="calma">
                <h1> BARES CON ALMA</h1>
            </div>

        </div>

        <!-- CONTRATA TU FRANQUICIA ================================================================================================ -->

        <div class="container bordes" id="contrata-franquicia">

            <div class="row text-center" id="header-contrata-franquicia">
                <h1 class="ocultar">ABRE TU <span class="titulo-secciones">&nbsp;FRANQUICIA&nbsp;</span></h1>
            </div>

            <div class="row" id="textos-contrata-franquicia">
                <div class="col-md-6 texto-contrata-franquicia">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-md-6 texto-contrata-franquicia">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>

            <div class="boton-pie-seccion center-block">
                <a href="#" class="btn btn-info-gral">
                    más información...
                </a>
            </div>

        </div>

        <!-- NUESTRAS MARCAS  =============================================================================== -->

        <div class="container-fluid text-center bordes" id="personas">

            <div id="header-personas">
                <h1 class="ocultar">NUESTRAS <span class="titulo-secciones">&nbsp;MARCAS&nbsp;</span></h1>
            </div>

            <div class="row ocultar ocultar-pc">
<!--                <div class="center-block" id="logo-marcas">
                    <img src="/images/logos/el-sol-marcas.jpg" alt="" />
                </div> -->

                <br>
                <h3>Elige tu modelo de bar</h3>
            </div>

            <div class="row center-block" id="elegir-modelo">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-modelo center-block">
                        <a class="button"
                            data-toggle="modal"
                            data-target="#panel-mediterraneo">
                                <img class="img-responsive" src="/images/marcas/sol-mediterraneo.jpg" alt="">
                        </a>
                    </div>
                    <br>
                    <div class="texto-modelo ocultar">
                        <a class="button"
                            data-toggle="modal"
                            data-target="#panel-mediterraneo">
                                <img src="/images/logos/el-sol-mediterraneo.jpg"></img>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 ocultar ocultar-movil">
                    <br>
                    <h3>Elige tu modelo de bar</h3>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="img-modelo center-block">
                        <a class="button"
                            data-toggle="modal"
                            data-target="#panel-after">
                            <img class="img-responsive" src="images/marcas/sol-afterworkdrinks.jpg" alt="">
                        </a>
                    </div>
                    <br>
                    <div class="texto-modelo ocultar">
                        <a type="button"
                            data-toggle="modal"
                            data-target="#panel-after">
                                <img src="/images/logos/el-sol-afterdrinks.jpg"/>
                        </a>
                    </div>
                </div>

            </div>

        </div>



        <!-- QUIENES SOMOS ================================================================================================ -->

        <div class="container bordes" id="quienes-somos">

            <div class="row text-center" id="header-quienes-somos">
                <h1 class="ocultar">QUIÉNES <span class="titulo-secciones">&nbsp;SOMOS&nbsp;</span></h1>
            </div>

            <h4 class="text-center"><strong>EMPRESA</strong></h4>

            <div class="container-fluid">

                <div class="container" id="textos-quienes-somos">

                    <div class="col-md-6 texto-quienes-somos">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>

                    <div class="col-md-6 texto-quienes-somos">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>

                </div>
            </div>

            <!-- Marketing messaging and featurettes  ================================================== -->
    		<div class="container-fluid marketing text-center" id="directorio-rrhh">
                <!-- Three columns of text below the carousel -->
                <h4><strong>EQUIPO DIRECTIVO</strong></h4>
                <br>
    			<div class="row">



                    <div class="col-lg-4 col-sm-4 persona">
                        <h4>Proyectos & Expansión</h4>
                        <img class="img-circle" id="persona-1" src="/images/rrhh/antonio-mazon-pastor-BN.jpg" alt="Generic placeholder image" width="100" height="100"/>
                        <br>
                        <h4>Antonio Mazón Pastor<a class="button"
                            data-toggle="modal"
                            data-target="#panel-mediterraneo">
                                <img src="/images/btn/btn-ver-mas-a.jpg"></img>
                        </a></h4>
                    </div>

                    <div class="col-lg-4 col-sm-4 persona">
                        <h4>Proyectos & Expansión</h4>
                        <img class="img-circle" id="persona-2" src="/images/rrhh/rodrigo-ramirez-herrera-BN.jpg" alt="Generic placeholder image" width="100" height="100"/>
                        <br>
                        <h4>Rodrigo Ramírez Herrera<a class="button"
                            data-toggle="modal"
                            data-target="#panel-mediterraneo">
                                <img src="/images/btn/btn-ver-mas-a.jpg"></img>
                        </a></h4>
                    </div>

                    <div class="col-lg-4 col-sm-4 persona">
                        <h4>Proyectos & Expansión</h4>
                        <img class="img-circle" id="persona-3" src="/images/rrhh/antonio-mazon-pastor-BN.jpg" alt="Generic placeholder image" width="100" height="100"/>
                        <br>
                        <h4>Antonio Mazón Pastor<a class="button"
                            data-toggle="modal"
                            data-target="#panel-mediterraneo">
                                <img src="/images/btn/btn-ver-mas-a.jpg"></img>
                        </a></h4>
                    </div>

    			</div><!-- /.row -->
            </div>

            <div class="row text-center" id="logo-quienes-somos" style="">
                <img class="img-responsive" src="/images/logos/inbaar-pie.jpg" alt="" />
            </div>

        </div>




        <!-- PREGUNTAS FRECUENTES =============================================================================================== -->

        <div class="container-fluid bordes" id="servicios">
            <div class="container">
                <div class="row no-margin" id="servicios-panel">

                    <div id="header-servicios ocultar">
                        <h1 class="text-center">PREGUNTAS <span class="titulo-secciones">&nbsp;FRECUENTES&nbsp;</span></h1>
                    </div>

<!--                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> -->

                    <div class="col-md-6">

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="panel panel-default faq ocultar">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            ¿Aquí la primera pregunta?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default faq ocultar">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            ¿Aquí la segunda pregunta?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default faq ocultar">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Collapsible Group Item #3
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default faq ocultar">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                            Collapsible Group Item #3
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">

                            <div class="panel panel-default faq ocultar">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                                            Collapsible Group Item #1
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default faq ocultar">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix" aria-expanded="false" aria-controls="collapseTwo">
                                            Collapsible Group Item #2
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default faq ocultar">
                                <div class="panel-heading" role="tab" id="headingSeve">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                                            Collapsible Group Item #3
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default faq ocultar">
                                <div class="panel-heading" role="tab" id="headingEight">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                                            Collapsible Group Item #3
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

<!--                    </div> -->  <!-- .end accordion -->

                </div>
            </div>

            <div class="boton-pie-seccion center-block">
                <a class="btn btn-info-gral" data-toggle="modal" data-target="#panel-mas-preguntas">
                        ver más preguntas...
                </a>

            </div>


        </div>


<!--                    <div class="col-md-6 col-sm-6">
                        <div class="servicios-item ocultar">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading1">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                Collapsible Group Item #1
                                            </a>
                                        </h4>
                                    </div>
                                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-6 col-sm-6">
                        <div class="servicios-item ocultar">
                            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading2">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="true" aria-controls="collapseTwo">
                                                Collapsible Group Item #1
                                            </a>
                                        </h4>
                                    </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-6 col-sm-6">
                        <div class="servicios-item ocultar">
                            <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
                                                Collapsible Group Item #1
                                            </a>
                                        </h4>
                                    </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-6 col-sm-6">
                        <div class="servicios-item ocultar">
                            <a href="#">
                                <h4>¿Y aquí iría otra pregunta más?</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="servicios-item ocultar">
                            <a href="#">
                                <h4>¿Y aquí iría otra pregunta más?</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="servicios-item ocultar">
                            <a href="#">
                                <h4>¿Y aquí iría otra pregunta más?</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="servicios-item ocultar">
                            <a href="#">
                                <h4>¿Y aquí iría otra pregunta más? ¿otra pregunta más?</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="servicios-item ocultar">
                            <a href="#">
                                <h4>¿Y aquí iría otra pregunta más?</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="servicios-item ocultar">
                            <a href="#">
                                <h4>¿Y aquí iría otra pregunta más?</h4>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="servicios-item ocultar">
                            <a href="#">
                                <h4>¿Y aquí iría otra pregunta más? ¿otra pregunta más?</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="boton-pie-seccion center-block">
                <a href="#" class="btn btn-info-gral">
                        ver más preguntas...
                </a>
            </div>

        </div> -->


        <!-- FORMULARIO CONTACTO2 =============================================================================== -->

        <div class="container-fluid" id="contacto2" name="contacto2">



<!--            <div class="row no-padding" id="img-bg-contacto2"> -->
                <img class="img-responsive" id="img-bg-contacto2" src="/images/bg/fondo-contacto.jpg" />

<!--            </div> -->


            <div class="row" id="header-contacto2">
                <h1>FORMULARIO <span class="titulo-secciones">&nbsp;CONTACTO&nbsp;</span></h1>
            </div>


            <div class="row">

                <form class="form-horizontal" method="post" action="/contactos/webcreate">

                    <h1 class="hidden" id="aviso" name="aviso" style="position: fixed; top: 60px;">AVISO</h1>

                    <div class="col-md-6 col-sm-6 col-xs-12 texto-contacto text-center">
                        <h2>¿NECESITAS <br> MÁS <br> INFORMACIÓN?</h2>
    <!--                    <nav role="navigation"><a href="#inicio">
                            <img class="img-circle center-block" src="/images/floxy/logo-inbar.png" data-src="holder.js/100x100/auto" alt="Generic placeholder image" width="100" height="auto">
                        </a></nav>
                        <h5>prueba</h5>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h5>
    -->             </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
    <!--                    <h3>CONTACTO</h3> -->
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group ocultar">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" required placeholder=""/>
                            </div>
                        </div>
    <!--                    <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="alias">Alias</label>
                                <input type="text" class="form-control" id="alias" name="alias" placeholder="alias"/>
                            </div>
                        </div> -->
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group ocultar">
                                <label for="inputEmail3">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required placeholder=""/>
                            </div>
<!--                            <div class="form-group">
                                <label for="inputPassword3">Email</label>
                                <input type="email" class="form-control" id="emailok" name="emailok" required placeholder="eMail confirm"/>
                            </div> -->
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group ocultar">
                                <label for="inputEmail3">Teléfono (opcional)</label>
                                <input type="text" class="form-control" id="telf" name="telefono" pattern="[0-9]{9}" placeholder=""/>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group ocultar">
                                <label for="inputPassword3">Marca</label>
                                <select class="form-control" name="marca">
                                    <option value="Todas">Todas</option>
                        			<option value="Sol">Sol</option>
                        			<option value="Mediterráneo">Mediterráneo</option>

                        		</select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group ocultar">
                                <label for="inputEmail3">Ciudad</label>
                                <input type="text" class="form-control" id="ciudad" name="ciudad" required placeholder=""/>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group ocultar">
                                <label for="inputPassword3">Provincia</label>
                                <input type="text" class="form-control" id="provincia" name="provincia" required placeholder=""/>
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="form-group ocultar" style="margin-top:25px">
                                <div class="form-group trampa">
                                    <label for="captcha-invisible"></label>
                                    <input type="text" class="form-control" id="captcha-invisible" >
                                </div>
                                <button id="enviar" type="submit" class="btn btn-warning">Solicitar información</button>
<!--                                <script type="text/javascript">
                                    function sendMail() {
                                        emailjs.send("gmail","template_9Ae6OZg5",{name: "jotamontoyo", notes: "Check this out!"});
                                    }
                                </script> -->



                            </div>

                            <div class="form-group ocultar" id="check-lopd">
                                <label>
                                    <input type="checkbox" id="lopd" name="lopd" required> Acepto la
                                        <a class="button"
                                            data-toggle="modal"
                                            data-target="#panel-lopd">
                                            <span> política de privacidad</span>
                                        </a>
                                    </input>
                                </label>
                            </div>

                        </div>

<!--                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group ocultar text-center" style="margin-top:25px">
                                <button id="enviar" type="submit" class="btn btn-info">Solicitar información</button>
                            </div>
                        </div> -->


                    </div>
                </form>
            </div>
        </div>



    <!-- ELEGIR MODELO =================================================================================================================== -->
<!--    <div class="container-fluid preload" name="elegir" id="elegir" onscroll="Animar(id)">
        <div class="row img-logo-sm" style="margin-left: 0;">
            <br>
            <h3 class="text-center"><img class="img-circle" src="/images/floxy/logo-inbar.png" data-src="holder.js/100x100/auto" alt="Generic placeholder image"> Elije tu modelo</img></h3>
        </div>
        <div class="row" id="elegir-modelo">
            <div class="col-md-6 col-sm-6">
                <h2 class="text-center">SOL</h2>
                <h6 class="text-center">Afterwork drinks</h6>
                <br>
                <div class="img-modelo center-block">
                    <a class="button"
                        data-toggle="modal"
                        data-target="#panel-elsol">
                            <img class="img-responsive" src="/images/floxy/modelo-after.png" alt="">
                    </a>
                </div>
                <br>
                <div class="center-block" style="cursor: pointer; width:40px;">
                    <a class="button"
                        data-toggle="modal"
                        data-target="#panel-elsol"><i class="fa fa-plus"></i> Info
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <h2 class="text-center">MED</h2>
                <h6 class="text-center">Mediterráneo</h6>
                <br>
                <div class="img-modelo center-block">
                    <a class="button"
                        data-toggle="modal"
                        data-target="#panel-mediterraneo">
                        <img class="img-responsive" src="images/floxy/modelo-med.png" alt="">
                    </a>
                </div>
                <br>
                <div class="center-block" style="cursor: pointer; width:40px;">
                    <a type="button"
                        data-toggle="modal"
                        data-target="#panel-mediterraneo"><i class="fa fa-plus"></i> Info
                    </a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <nav role="navigation"> <a href="#servicios"><i class="fa fa-arrow-down fa-2x"></i></a></nav>

        </div> -->

<!--        <script type="text/javascript">
            $(elegir).show(function() {
              $("#elegir").removeClass("preload");
            });
        </script> -->


<!--    </div> -->


    <!-- FRANQUICIAS ======================================================================================================================= -->
<!--    <section id="intro" class="section intro no-padding">
        <div class="container-fluid">
    	    <div class="row no-gutter" id="panel-franquicias">
    	        <div class="flexslider">
    		        <ul class="slides">
    		            <li>
                			<div class="col-md-6">
                			    <img src="images/floxy/elsol.png" alt="">
                			</div>
    			            <div class="col-md-6">
    			                <blockquote>
                    				<h1>El Sol</h1>
                    				<p>Susan Sims, Interaction Designer at XYZCras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Cras mattis consectetur purus sit amet fermentum.Interaction Designer at XYZCras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Cras mattis consectetur purus sit amet fermentum. </p>
                    				<p>Susan Sims, Interaction Designer at XYZCras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Cras mattis consectetur purus sit amet fermentum. </p>
                    			</blockquote>
    			            </div>
    		            </li>
                		<li>
                			<div class="col-md-6">
                			    <div class="avatar"> <img src="images/floxy/med.png" alt="" class="img-responsive"> </div>
                			</div>
                			<div class="col-md-6">
                			    <blockquote>
                    				<h1>MED </h1>
                    				<p>Susan Sims, Interaction Designer at XYZCras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Cras mattis consectetur purus sit amet fermentum.Interaction Designer at XYZCras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Cras mattis consectetur purus sit amet fermentum. </p>
                    				<p>Susan Sims, Interaction Designer at XYZCras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.Cras mattis consectetur purus sit amet fermentum. </p>
                    			</blockquote>
                			</div>
                		</li>
    		        </ul>
    	        </div>
    	    </div>
        </div>
    </section>
    <!-- end .div FRANQUICIAS -->


    <!-- SERVICIOS ==================================================================================================================== -->
<!--    <section id="services" class="services service-section" style="margin-bottom:0px; margin-top:0px">
        <div class="container">
        	<div class="row">
        	    <div class="col-md-4 col-sm-6 services"> <i class="fa fa-area-chart fa-2x"></i>
        		    <div class="services-content">
        		        <h5>Strategy & Consulting</h5>
        		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        		    </div>
        	    </div>
        	    <div class="col-md-4 col-sm-6 services"> <span class="fa fa-home fa-2x"></span>
        		    <div class="services-content">
        		        <h5>corporate identity</h5>
        		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        		    </div>
        	    </div>
        	    <div class="col-md-4 col-sm-6 services"> <span class="fa fa-cog fa-2x"></span>
        		    <div class="services-content">
        		        <h5>web design and development</h5>
        		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        		    </div>
        	    </div>
        	    <div class="col-md-4 col-sm-6 services"> <span class="fa fa-adn fa-2x"></span>
        		    <div class="services-content">
        		        <h5>Branding</h5>
        		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        		    </div>
        	    </div>
        	    <div class="col-md-4 col-sm-6 services"> <span class="fa fa-hashtag fa-2x"></span>
        		    <div class="services-content">
        		        <h5>Digital marketing</h5>
        		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        		    </div>
        	    </div>
        	    <div class="col-md-4 col-sm-6 services"> <span class="fa fa-gift fa-2x"></span>
        		    <div class="services-content">
        		        <h5>Promotion material</h5>
        		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.</p>
        		    </div>
        	    </div>
        	</div>
        </div>
    </section> -->



<!-- work section -->
<!--
<section id="works" class="works section no-padding">
  <div class="container-fluid">
	<div class="row no-gutter">
	  <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="images/floxy/work-1.jpg" class="work-box"> <img src="images/floxy/work-1.jpg" alt="">
		<div class="overlay">
		  <div class="overlay-caption">
			<p><span class="fa fa-search fa-lg"></span></p>
		  </div>
		</div>
		<!-- overlay -->
<!--		</a> </div>
	  <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="images/floxy/work-2.jpg" class="work-box"> <img src="images/floxy/work-2.jpg" alt="">
		<div class="overlay">
		  <div class="overlay-caption">
			<p><span class="icon icon-magnifying-glass"></span></p>
		  </div>
		</div>
		<!-- overlay -->
<!--		</a> </div>
	  <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="images/floxy/work-3.jpg" class="work-box"> <img src="images/floxy/work-3.jpg" alt="">
		<div class="overlay">
		  <div class="overlay-caption">
			<p><span class="icon icon-magnifying-glass"></span></p>
		  </div>
		</div>
		<!-- overlay -->
<!--		</a> </div>
	  <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="images/floxy/work-4.jpg" class="work-box"> <img src="images/floxy/work-4.jpg" alt="">
		<div class="overlay">
		  <div class="overlay-caption">
			<p><span class="icon icon-magnifying-glass"></span></p>
		  </div>
		</div>
		<!-- overlay -->
<!--		</a> </div>
	  <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="images/floxy/work-5.jpg" class="work-box"> <img src="images/floxy/work-5.jpg" alt="">
		<div class="overlay">
		  <div class="overlay-caption">
			<p><span class="icon icon-magnifying-glass"></span></p>
		  </div>
		</div>
		<!-- overlay -->
<!--		</a> </div>
	  <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="images/floxy/work-6.jpg" class="work-box"> <img src="images/floxy/work-6.jpg" alt="">
		<div class="overlay">
		  <div class="overlay-caption">
			<p><span class="icon icon-magnifying-glass"></span></p>
		  </div>
		</div>
		<!-- overlay -->
<!--		</a> </div>
	  <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="images/floxy/work-7.jpg" class="work-box"> <img src="images/floxy/work-7.jpg" alt="">
		<div class="overlay">
		  <div class="overlay-caption">
			<p><span class="icon icon-magnifying-glass"></span></p>
		  </div>
		</div>
		<!-- overlay -->
<!--		</a> </div>
	  <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="images/floxy/work-8.jpg" class="work-box"> <img src="images/floxy/work-8.jpg" alt="">
		<div class="overlay">
		  <div class="overlay-caption">
			<p><span class="icon icon-magnifying-glass"></span></p>
		  </div>
		</div>
		<!-- overlay -->
<!--		</a> </div>
	  <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="images/floxy/work-9.jpg" class="work-box"> <img src="images/floxy/work-9.jpg" alt="">
		<div class="overlay">
		  <div class="overlay-caption">
			<p><span class="icon icon-magnifying-glass"></span></p>
		  </div>
		</div>
		<!-- overlay -->
<!--		</a> </div>
	  <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="images/floxy/work-10.jpg" class="work-box"> <img src="images/floxy/work-10.jpg" alt="">
		<div class="overlay">
		  <div class="overlay-caption">
			<p><span class="icon icon-magnifying-glass"></span></p>
		  </div>
		</div>
		<!-- overlay -->
<!--		</a> </div>
	  <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="images/floxy/work-11.jpg" class="work-box"> <img src="images/floxy/work-11.jpg" alt="">
		<div class="overlay">
		  <div class="overlay-caption">
			<p><span class="icon icon-magnifying-glass"></span></p>
		  </div>
		</div>
		<!-- overlay -->
<!--		</a> </div>
	  <div class="col-lg-2 col-md-4 col-sm-4 work"> <a href="images/floxy/work-12.jpg" class="work-box"> <img src="images/floxy/work-12.jpg" alt="">
		<div class="overlay">
		  <div class="overlay-caption">
			<p><span class="icon icon-magnifying-glass"></span></p>
		  </div>
		</div>
		<!-- overlay -->
<!--		</a> </div>
	</div>
  </div>
</section>
<!-- work section -->
<!-- our team section -->
<!--
<section id="teams" class="section teams">
  <div class="container">
	<div class="row">
	  <!-- team member 1 -->
<!--	  <div class="col-md-4 col-sm-8">
		<div class="person"> <img src="images/floxy/team-1.png" alt="" class="img-responsive">
		  <div class="person-content">
			<h4>Johnathan Doe</h4>
			<h5 class="role">The Mastermind</h5>
			<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </p>
		  </div>
		  <ul class="social-icons clearfix">
			<li><a href="#"><span class="fa fa-facebook"></span></a></li>
			<li><a href="#"><span class="fa fa-twitter"></span></a></li>
			<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
			<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
			<li><a href="#"><span class="fa fa-dribbble"></span></a></li>
		  </ul>
		</div>
	  </div>
	  <!-- team member 1 -->
	  <!-- team member 2 -->
<!--	  <div class="col-md-4 col-sm-8">
		<div class="person"> <img src="images/floxy/team-2.png" alt="" class="img-responsive">
		  <div class="person-content">
			<h4>Lisa Brown</h4>
			<h5 class="role">Creative head</h5>
			<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		  </div>
		  <ul class="social-icons clearfix">
			<li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
			<li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
			<li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
			<li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
			<li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
		  </ul>
		</div>
	  </div>
	  <!-- team member 2 -->
	  <!-- team member 3 -->
<!--	  <div class="col-md-4 col-sm-8">
		<div class="person"> <img src="images/floxy/team-3.png" alt="" class="img-responsive">
		  <div class="person-content">
			<h4>Mike Collins</h4>
			<h5 class="role">Technical lead</h5>
			<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		  </div>
		  <ul class="social-icons clearfix">
			<li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
			<li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
			<li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
			<li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
			<li><a href="#" class=""><span class="fa fa-dribbble"></span></a></li>
		  </ul>
		</div>
	  </div>
	  <!-- team member 1 -->
<!--	</div>
  </div>
</section>
<!-- our team section -->
<!-- Testimonials section -->
<!--
<section id="testimonials" class="section testimonials no-padding">
  <div class="container-fluid">
	<div class="row no-gutter">
	  <div class="flexslider">
		<ul class="slides">
		  <li>
			<div class="col-md-12">
			  <blockquote>
				<h1>"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Phasellus non dolor nibh. Nullam elementum Aenean eu leo quam..." </h1>
				<p>Rene Brown, Open Window production</p>
			  </blockquote>
			</div>
		  </li>
		  <li>
			<div class="col-md-12">
			  <blockquote>
				<h1>"Cras dictum tellus dui, vitae sollicitudin ipsum. Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat shasellus non dolor nibh. Nullam elementum tellus pretium feugiat." </h1>
				<p>Brain Rice, Lexix Private Limited.</p>
			  </blockquote>
			</div>
		  </li>
		  <li>
			<div class="col-md-12">
			  <blockquote>
				<h1>"Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur...." </h1>
				<p>Andi Simond, Global Corporate Inc</p>
			  </blockquote>
			</div>
		  </li>
		  <li>
			<div class="col-md-12">
			  <blockquote>
				<h1>"Lorem ipsum dolor sit amet, consectetur adipiscing elitPhasellus non dolor nibh. Nullam elementum tellus pretium feugiat. Cras dictum tellus dui sollcitudin." </h1>
				<p>Kristy Gabbor, Martix Media</p>
			  </blockquote>
			</div>
		  </li>
		</ul>
	  </div>
	</div>
  </div>
</section>
<!-- Testimonials section -->

    <!--

    <div class="container-fluid" id="contacto" name="contacto">
        <div class="row">
            <div class="col-md-4 text-center">
                <nav role="navigation"><a href="#inicio">
                    <img class="img-circle" src="/images/floxy/logo-inbar.png" data-src="holder.js/100x100/auto" alt="Generic placeholder image" width="100" height="auto">
                </a></nav>
            </div>
            <div class="col-md-8">
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h5>

            </div>
<!--            <div class="col-md-4">
                <div class="row img-logo-sm">
                    <img class="img" src="/images/sun.png" data-src="holder.js/50x50/auto" alt="Generic placeholder image"> El Sol</img>
                </div>
                <div class="row img-logo-sm">
                    <img class="img" src="/images/earth.png" data-src="holder.js/50x50/auto" alt="Generic placeholder image"> La Tierra</img>
                </div>
                <div class="row img-logo-sm">
                    <img class="img" src="/images/moon.png" data-src="holder.js/50x50/auto" alt="Generic placeholder image"> La Luna</img>
                </div>
                <h3>dsfgsdfgsdfg sdfgsdfgsdfg sdfg sdfg sd sdfg sdfg sdfgsdfg sdfgsdfg d sdf sdf dgfsdf d </h3>
                <h5>dsfgsdfgsdfg sdfgsdfgsdfg sdfg sdfg sd sdfg sdfg sdfgsdfg sdfgsdfg d sdf sdf dgfsdf d </h5>
            </div> -->
<!--        </div>
        <div class="row">
            <form class="form-horizontal" method="post" action="/contactos/webcreate">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required="required" placeholder="nombre"/>
                    </div>
                    <div class="form-group">
                        <label for="alias">Alias</label>
                        <input type="text" class="form-control" id="alias" name="alias" placeholder="alias"/>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="inputEmail3">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required placeholder="eMail"/>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3">Email</label>
                        <input type="email" class="form-control" id="emailok" name="emailok" required placeholder="eMail confirm"/>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="inputEmail3">Teléfono</label>
                        <input type="text" class="form-control" id="telf" name="telefono" pattern="[0-9]{9}" required placeholder="teléfono"/>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3">Marca</label>
                        <input type="text" class="form-control" id="marca" name="marca" placeholder="marca"/>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="inputEmail3">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad" name="ciudad" required placeholder="ciudad"/>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3">Provincia</label>
                        <input type="text" class="form-control" id="provincia" name="provincia" required placeholder="provincia"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group text-center">
                            <label>
                                <input type="checkbox" id="lopd" name="lopd" required><small> Acepto la
                                    <button type="button"
                                        class="btn btn-primary btn-xs"
                                        data-toggle="modal"
                                        data-target="#panel-lopd">política de privacidad
                                    </button></small>
                                </input>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-info">Solicitar información</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
-->



<!-- Get a quote section -->












































		<!-- Carousel =========================================================================== -->
<!--		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators"><!-- Indicators -->
<!--				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img class="first-slide" src="images/logoelsol.jpg" alt="First slide">
					<div class="container">
						<div class="carousel-caption">
							<h1>Example headline.</h1>
							<p>Te ayudamos a dale valor a tus ideas.</p>
							<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="second-slide" src="images/2slide.jpg" alt="Second slide">
					<div class="container">
						<div class="carousel-caption">
							<h1>Another example headline.</h1>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="third-slide" src="images/webmodelo.jpg" alt="Third slide">
					<div class="container">
						<div class="carousel-caption">
							<h1>One more for good measure.</h1>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="fourth-slide" src="images/adriana.jpg" alt="Third slide">
					<div class="container">
						<div class="carousel-caption">
							<h1>Este lo pongo yo</h1>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
							<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div><!-- end carousel -->

		<!-- Marketing messaging and featurettes  ================================================== -->
<!--		<div class="container-fluid marketing">
			<!-- Three columns of text below the carousel -->
<!--			<div class="row">
				<div class="col-lg-4">
					<img class="img-circle" src="images/firstslide.jpg" alt="Generic placeholder image" width="140" height="140">
					<h2>Heading</h2>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
					<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
	<!--			<div class="col-lg-4">
					<img class="img-circle" src="images/tabano.jpg" alt="Generic placeholder image" width="140" height="140">
					<h2>Prácticas</h2>
					<p>Estas son las prácticas que he ido realizando en diferentes cursos, tanto aquellos realizados online como los que he hecho por mi cuenta mediante manuales.</p>
					<p><a class="btn btn-default" href="practicas.html" role="button">View details &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
<!--				<div class="col-lg-4">
					<img class="img-circle" src="images/lago.jpg" alt="Generic placeholder image" width="140" height="140">
					<h2>Heading</h2>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
<!--			</div><!-- /.row -->




			<!-- START THE 1st PANEL ============================================================== -->
<!--			<div class="row" id="panel1">




			</div>

			<!-- START THE 2nd PANEL ============================================================== -->
<!--			<div class="row" id="panel2">
				<div class="fullscreen-bg">
				    <video loop muted autoplay poster="images/2slide.jpg" class="fullscreen-bg__video">
				        <source src="vids/nyctraffic.mp4" type="video/mp4">
				        <source src="vids/nyctraffic.ogv" type="video/ogv">
				    </video>
				</div>
				<div class="col-md-4">
					<h2><img class="img-circle" src="images/different.jpg" alt="Generic placeholder image" width="140" height="140" style="margin-left: 10%"></h2>
					<h2><span class="text-muted">It'll blow your mind.</span></h2>
				</div>
				<div class="col-md-4">
					<h2><span class="text-muted"></span></h2>
				</div>
				<div class="col-md-4">
					<h2><span class="text-muted"></span></h2>
				</div>
			</div>

			<!-- START THE 3th PANEL ============================================================== -->
	<!--		<div class="row" id="panel3">
				<div class="col-md-4">
					<h2><img class="img-circle" src="images/different.jpg" alt="Generic placeholder image" width="140" height="140" style="margin-left: 10%"></h2>
					<h2><span class="text-muted">It'll blow your mind.</span></h2>
				</div>
				<div class="col-md-4">
					<h2><span class="text-muted"></span></h2>
				</div>
				<div class="col-md-4">
					<h2><span class="text-muted"></span></h2>
				</div>
			</div>

			<!-- START THE 4th PANEL ============================================================== -->
<!--			<div class="row" id="panel4">
				<div class="fullscreen-bg">
				    <video loop muted autoplay poster="images/2slide.jpg" class="fullscreen-bg__video">
				        <source src="vids/wine.mp4" type="video/mp4">
				        <source src="vids/wine.ogv" type="video/ogv">
				    </video>
				</div>
				<div class="col-md-4">
					<h2><a href="#contacto">
						<img class="img-circle" src="images/different.jpg" alt="Generic placeholder image" width="140" height="140" style="margin-left: 10%"></a>
					</h2>
					<h2><span class="text-muted">It'll blow your mind.</span></h2>
				</div>
				<div class="col-md-4">
					<h2><span class="text-muted"></span></h2>
				</div>
				<div class="col-md-4">
					<h2><span class="text-muted"></span></h2>
				</div>
			</div>


			<!-- START THE FEATURETTES ============================================================== -->
<!--			<hr class="featurette-divider">
			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
				<div class="col-md-5">
					<img class="featurette-image img-responsive center-block" src="images/firstslide.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
				</div>
			</div>
			<hr class="featurette-divider">
			<div class="row featurette">
				<div class="col-md-7 col-md-push-5">
					<h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
				<div class="col-md-5 col-md-pull-7">
					<img class="featurette-image img-responsive center-block" src="images/firstslide.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
				</div>
			</div>
			<hr class="featurette-divider">
			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
				<div class="col-md-5">
					<img class="featurette-image img-responsive center-block" src="images/firstslide.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
				</div>
			</div>
			<hr class="featurette-divider">	<!-- /END THE FEATURETTES -->

<!--		</div><!-- end marketin container -->

<!--		<div id="map"></div>

		<hr>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d781.7374076280701!2d-0.525601803724939!3d38.39641366417523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xbfafb6a95b2eaea7!2selsol+afterworkdrinks!5e0!3m2!1ses!2ses!4v1448655020541" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		<hr>

		<!-- CONTACTO =================================================================================== -->
<!--		<div class="container" id="contacto">
			<div class="row" style="margin-bottom: 40px; margin-top: 50px">
				<div class="col-md-4 ocultar-movil text-center">
					<img class="img-circle" src="/images/sun.png" data-src="holder.js/100x100/auto" alt="Generic placeholder image" width="100" height="100">
					<h3>dsfgsdfgsdfg sdfgsdfgsdfg sdfg sdfg sd sdfg sdfg sdfgsdfg sdfgsdfg d sdf sdf dgfsdf d </h3>
					<h5>dsfgsdfgsdfg sdfgsdfgsdfg sdfg sdfg sd sdfg sdfg sdfgsdfg sdfgsdfg d sdf sdf dgfsdf d </h5>
				</div>
				<div class="col-md-4 ocultar-movil text-center">
					<img class="img-circle" src="/images/earth.png" data-src="holder.js/100x100/auto" alt="Generic placeholder image" width="100" height="100">
					<h3>dsfgsdfgsdfg sdfgsdfgsdfg sdfg sdfg sd sdfg sdfg sdfgsdfg sdfgsdfg d sdf sdf dgfsdf d </h3>
					<h5>dsfgsdfgsdfg sdfgsdfgsdfg sdfg sdfg sd sdfg sdfg sdfgsdfg sdfgsdfg d sdf sdf dgfsdf d </h5>
				</div>
				<div class="col-md-4">
					<div class="row img-logo-sm">
						<img class="img" src="/images/sun.png" data-src="holder.js/50x50/auto" alt="Generic placeholder image"> El Sol</img>
					</div>
					<div class="row img-logo-sm">
						<img class="img" src="/images/earth.png" data-src="holder.js/50x50/auto" alt="Generic placeholder image"> La Tierra</img>
					</div>
					<div class="row img-logo-sm">
						<img class="img" src="/images/moon.png" data-src="holder.js/50x50/auto" alt="Generic placeholder image"> La Luna</img>
					</div>
					<h3>dsfgsdfgsdfg sdfgsdfgsdfg sdfg sdfg sd sdfg sdfg sdfgsdfg sdfgsdfg d sdf sdf dgfsdf d </h3>
					<h5>dsfgsdfgsdfg sdfgsdfgsdfg sdfg sdfg sd sdfg sdfg sdfgsdfg sdfgsdfg d sdf sdf dgfsdf d </h5>
				</div>
			</div>
			<div class="row">
				<form class="form-horizontal" method="post" action="/contactos/webcreate">
		  			<div class="col-md-3">
		  				<div class="form-group">
		    				<label for="nombre" class="col-sm-2 control-label">Nombre</label>
							<input type="text" class="form-control" id="nombre" name="nombre" required placeholder="nombre"/>
						</div>
						<div class="form-group">
		   					<label for="alias" class="col-sm-2 control-label">Alias</label>
							<input type="text" class="form-control" id="alias" name="alias" placeholder="alias"/>
						</div>
		  			</div>
		  			<div class="col-md-3">
						<div class="form-group">
		    				<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		    				<input type="email" class="form-control" id="email" name="email" required placeholder="eMail"/>
						</div>
						<div class="form-group">
		   					<label for="inputPassword3" class="col-sm-2 control-label">Email</label>
		   					<input type="email" class="form-control" id="emailok" name="emailok" required placeholder="eMail confirm"/>
						</div>
		  			</div>
		  			<div class="col-md-3">
						<div class="form-group">
		   					<label for="inputEmail3" class="col-sm-2 control-label">Teléfono</label>
							<input type="text" class="form-control" id="telf" name="telefono" pattern="[0-9]{9}" required placeholder="teléfono"/>
						</div>
						<div class="form-group">
		    				<label for="inputPassword3" class="col-sm-2 control-label">Marca</label>
							<input type="text" class="form-control" id="marca" name="marca" placeholder="marca"/>
						</div>
			  		</div>
			  		<div class="col-md-3">
						<div class="form-group">
		   					<label for="inputEmail3" class="col-sm-2 control-label">Ciudad</label>
							<input type="text" class="form-control" id="ciudad" name="ciudad" required placeholder="ciudad"/>
						</div>
						<div class="form-group">
		    				<label for="inputPassword3" class="col-sm-2 control-label">Provincia</label>
							<input type="text" class="form-control" id="provincia" name="provincia" required placeholder="provincia"/>
						</div>
			  		</div>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group text-center">
					      		<label>
					          		<input type="checkbox" id="lopd" name="lopd" required><small> Acepto la <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#panel-lopd">política de privacidad</a></small></input>
					          	</label>
					        </div>
				        </div>
				        <div class="col-md-3">

				        </div>
				        <div class="col-md-3">

				        </div>
				        <div class="col-md-3">
					        <div class="form-group text-center">
					        	<button type="submit" class="btn btn-info">Solicitar información</button>
						 	</div>
					 	</div>
		   			</div>
				</form>
			</div>
		</div>
-->
