
/*	@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700); */

/*	#portrait {
		display: block;
		z-index: 1000;
	}

	@media only screen and (orientation:portrait){
		#portrait {
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}
	@media only screen and (orientation:landscape){
		#portrait {
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
		}
	} */


	@font-face {
		font-family: 'Marguerite';
		src: url('/fonts/marguerite.ttf');
	}

	@font-face {
		font-family: 'Honey';
		src: url('/fonts/HoneyScript-SemiBold.ttf');
	}

	@font-face {
		font-family: 'TrashHand';
		src: url('/fonts/TrashHand.TTF');
	}

	@font-face {
		font-family: 'Kalinga';
		src: url('/fonts/Kalinga.ttf');
	}



	body {
		font-family     : 'Kalinga', Calibri, Arial, sans-serif;
/*		text-shadow     : 0 1px 0 rgba(255, 255, 255, 0.8); */
		padding-bottom  : 0;
		overflow-x: hidden;
	}

	ol, ul {
		list-style: none;
	}

	a:hover {
		text-decoration: none;
	}

	.navbar {
		margin-bottom: 0;
		border-radius: 0;
	}

	.form-group input, select {
		max-width: 90%;
	}

	.container-fluid {
	    padding: 0px;
		overflow: hidden;

	}


	.navbar-toggle {									/* estilos boton toggle del menu-inicio */
		width: 45px;
		height: 45px;
		background-color: rgba(0, 0, 0, 1);
		top: 4px;
	}

	.navbar-collapse, .navbar-collapse.collapse.in, .col-md-2 {
		margin: 0px;
/*		padding-right: 0px; */
	}

	.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {		/* cambia color de las opciones del menu-inicio despues del click */
		background-color: transparent;
	}

	.dropdown-menu {
		padding: 0px;
	}

	li nav a, .dropdown a {

		color: white;
		font-size: 18px;
	}

	.no-padding {
		padding: 0px;
	}

	.no-margin {
		margin: 0px;
	}


/*	#contacto {
		background-color: 	rgb(255, 153, 64);
	/*	background: url(/images/floxy/bg-contacto.jpg) no-repeat center center; */
/*		width: 				100%;
		height: 			100%;

	/*	max-height: 		80%; */
/*		min-height: 		500px;
		padding-left: 		8%;
		padding-right: 		5%;
		color:		 		#2E2E2E;
		position: 			relative;
		overflow: 			hidden;
		display: 			-webkit-flex;
		display: 			flex;
		-webkit-flex-direction: 	column;
		flex-direction: 			column;
		-webkit-justify-content: 	space-around;
		justify-content: 			space-around;
		border: 					none !important;
	} */






	#lista-idiomas {
		background-color: rgba(0, 0, 0, 0.8);
/*		background: rgba(212,228,239,1);
		background: -moz-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
		background: -webkit-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
		background: -o-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
		background: -ms-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
		background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=0 ); */
	}

	#lista-idiomas a {
		color: white;
		font-size: 12px;
	}

	#lista-idiomas a:hover {
		color: black;
	}






	/* MODALS ==================================================================== */

	#panel-elegir-franquicia, #panel-mediterraneo, #panel-elsol, #panel-after, #panel-mas-preguntas {
		padding-left: 0px;

	}




	#modal-elsol, #modal-mediterraneo, #modal-after, #modal-mas-preguntas {
		width: 80%;
		color:	rgb(255, 255, 255);
	}


	#modal-content-mas-preguntas .modal-header, .modal-footer {
		border: none;
	}


	/* ESTILOS DEL MODAL-MENU ABRE TU FRANQUICIA ======================================================= */
	#modal-elegir-franquicia {
		max-width: 400px;
		margin-top: 110px;
		color: rgb(218, 165, 32);
		position: relative;
	}

	.modal-franquicia-item {
		margin-top: 		15px;
	}

	.modal-franquicia-item img {
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
	}
	/* ====================================================================================================*/


	#modal-content-menu-franquicia, #modal-content-mediterraneo, #modal-content-elsol, #modal-content-after, #modal-content-mas-preguntas {

		background: rgba(76,76,76,1);
		background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 10%, rgba(102,102,102,1) 20%, rgba(71,71,71,1) 41%, rgba(44,44,44,1) 53%, rgba(0,0,0,1) 78%, rgba(17,17,17,1) 85%, rgba(19,19,19,1) 92%, rgba(28,28,28,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(10%, rgba(89,89,89,1)), color-stop(20%, rgba(102,102,102,1)), color-stop(41%, rgba(71,71,71,1)), color-stop(53%, rgba(44,44,44,1)), color-stop(78%, rgba(0,0,0,1)), color-stop(85%, rgba(17,17,17,1)), color-stop(92%, rgba(19,19,19,1)), color-stop(100%, rgba(28,28,28,1)));
		background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 10%, rgba(102,102,102,1) 20%, rgba(71,71,71,1) 41%, rgba(44,44,44,1) 53%, rgba(0,0,0,1) 78%, rgba(17,17,17,1) 85%, rgba(19,19,19,1) 92%, rgba(28,28,28,1) 100%);
		background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 10%, rgba(102,102,102,1) 20%, rgba(71,71,71,1) 41%, rgba(44,44,44,1) 53%, rgba(0,0,0,1) 78%, rgba(17,17,17,1) 85%, rgba(19,19,19,1) 92%, rgba(28,28,28,1) 100%);
		background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 10%, rgba(102,102,102,1) 20%, rgba(71,71,71,1) 41%, rgba(44,44,44,1) 53%, rgba(0,0,0,1) 78%, rgba(17,17,17,1) 85%, rgba(19,19,19,1) 92%, rgba(28,28,28,1) 100%);
		background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 10%, rgba(102,102,102,1) 20%, rgba(71,71,71,1) 41%, rgba(44,44,44,1) 53%, rgba(0,0,0,1) 78%, rgba(17,17,17,1) 85%, rgba(19,19,19,1) 92%, rgba(28,28,28,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#1c1c1c', GradientType=0 );
	}

/*	.item-bg-black:nth-child(1), .item-bg-black:nth-child(2)  {
		border-bottom: 1px solid #999999;
	} */





/*	#panel1 {
		background: url(/images/brooklyn.jpg) no-repeat fixed center;
		height: 	100vh;
		overflow: 	hidden;
	}

	#panel2 {
		height: 	100vh;
		overflow: 	hidden;
	}

	#panel3 {
		background: url(/images/bigcitynight.jpg) no-repeat fixed center;
		height: 	100vh;
		overflow: 	hidden;
	}

	#panel4 {
		height: 	100vh;
		overflow:	hidden;
	}

	.banda {
		position: relative;

		width           : 100%;
		height          : 100%;
		background-color: rgba(46, 46, 46, 0.7);
	}

	#panel-franquicias {
/*		background: url(/images/brooklyn.jpg) no-repeat fixed center; */
/*		height: 	auto;
		overflow: 	hidden;
	} */

/*	.preload * {
		visibility: hidden;
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-ms-transition: none !important;
		-o-transition: none !important;


	} */



	/* ================================================================================================ */
	/* INICIO ========================================================================================= */
	/* ================================================================================================ */

	.bordes {
		border-top: 	2px inset black;
		border-bottom: 	2px groove #c6c7cc;
/*		border-top: 2px solid rgba(256, 256, 256, 0.8); */
/*		width: 80%;
		border-top: 1px solid #c6c7cc;
		border-bottom: 1px solid #c6c7cc; */


	}

	.img-header-secciones {
		vertical-align: bottom;
	}

	.titulo-secciones {
		color: #eb9837;
		background-color: #000;
	}

	.ocultar {																/* a esta esta clase le cambio css desde autoscroll.js */
    	opacity: 0;
	}

	.ocultar-pc {
		display: none;
	}


	#inicio {
/*		background: url(/images/floxy/inbarasset.png) no-repeat fixed center; */
/*		background-color: #BDBDBD; */
/*		height: 	720px; */
		height: 	100vh;
		min-height: 550px;					/* si cambias este parametro, tambien el  #wrap */
/*		min-height: 100vh; */
		overflow: 	hidden;

/*		z-index: 3; */

	}

	#logo-inicio {
		width: 100%;
		top: 190px;
		margin-left: 15px;
		position: absolute;
		color: white;
	}

	#logo-inicio img {
		max-width: 180px;
		height: auto;
/*		margin-left: auto;
		margin-right: auto; */
		margin: 0px auto 20px auto;
	}

	#logo-inicio h1 {
		font-size: 42px;
	}

	#logo-inicio h5 {
		font-size: 22px;
	}

	#calma {
		min-width: 100%;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		bottom: 0;
		font: bold 25px TrashHand, verdana, sans-serif;
		text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
/*		color: hsla(240, 100%, 50%, 0.5); */
		color: #fff;
	}

	#calma h1 {
		padding-left: 22px;
	}


	#inicio-animacion {
		overflow: hidden;
	}


	#wrap {
		min-width: 100%;
		height: 100%;

/*		height: 100vh; */
		min-height: 550px;						/* si cambias este parametro, tambien el  #inicio */
		position: absolute;
		z-index: -1;

/*		top: 0; */
		right: 0;
/*		left: 0;

/*		background-color: black; */

		overflow: hidden;




	}


	#wrap img.bgfade {

		width: 100%;
		min-width: 700px;

		height: 100%;
		min-height: 100vh;
/*		min-height: 100%;*/

		display: none;
		position: absolute;
		overflow: hidden;

/*		margin: 0;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0; */


/*		margin-left: -800px;			/* centrado x */
/*		margin-top: -450px;				/* centrado y */
/*		left: 50%;						/* centrado x */
/*		top: 50%;						/* centrado y */

		z-index: -1;



	}

/*	.alerta {
		width: 100%;
		margin-top: 100px;
		padding-left: auto;
		padding-right: auto;
		position: absolute;
		visibility: hidden;
	}

	.alerta-panel {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	} */

	/* estilos de menu-inicio =================================================================================== */

	#menu-inicio {
		width: 100%;
		height: 70px;				/* lo modifica autoscroll.js */
		top: 0;
		left: 0;
		margin-top: 0px;
		margin-right: auto;
		margin-left: auto;
		position: fixed;
		z-index: 3;
/*		background: url(/images/logos/inbaar-pie.jpg) no-repeat center center; */
		background-color: rgba(0, 0, 0, 0.8);

		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;

	}

	#menu-inicio-items {												/* estilo de todos los items del menu-inicio */
/*		margin-left: 0%;
		padding: 0px; */
		position: relative;



	}

	.menu-inicio-item {
		position: relative;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.menu-inicio-item, .dropdown-menu-inicio-item {						/* estilo de cada item del menu-inicio y de cada item de los dropdown */
		padding: 20px 0px 10px 0px;										/* modifica autoscroll.js */

	}

	.menu-inicio-item a {

		font-size: 1.2vw;

		cursor: pointer;
		text-decoration: none;
/*		color: #fff; */
	}

	.menu-inicio-item :hover {
		color: #eb9837;
	}

	.menu-inicio-item a:active, .menu-inicio-item a:focus,						/* elimina del dot alrededor y activa color */
	.dropdown-menu-inicio-item a:hover, .dropdown-menu-inicio-item a:focus,
	#subir-inicio a:hover, #subir-inicio a:focus {
		color: #eb9837;
		outline: 0;
	}

/*	.menu-inicio-item li a:active {
		color: yellow;
		background-color: yellow;
	}

	.menu-inicio-item li.selected a {
		color: yellow;
		background-color: yellow;
	} */


	.dropdown-menu-inicio {												/* estilo de los dropdown del menu-inicio */
		background-color: rgba(0, 0, 0, 0.8);
		border: none;
	}

	.dropdown-menu-inicio-item {										/* estilo de cada item de los dropdown */
		padding-left: 15px;
		padding-right: 15px;
		border-bottom: 1px solid #999999;
	}

	.dropdown-menu-inicio-item:hover {
		background-color: rgba(132, 132, 132, 0.4);
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

/*	.dropdown-menu-inicio:last-child {             lo hago directo en html en el ultimo item
		border-bottom: none;
	} */

	.dropdown-menu-inicio-item img {
		width: 100%;
		text-align: center;
	}



	/* ================================================================================================================ */

	#subir-inicio {
		width: auto;
		position: fixed;
		bottom: 10px;
		right: 15px;
		visibility: hidden;
		z-index: 2;


		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	#subir-inicio-icon {
		background-color: transparent;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.boton-pie-seccion {
		width: 180px;
		height: 40px;
		margin-top: 10vh;
	}

	.boton-pie-seccion a:hover {
		color: black;
	}

	.btn-info-gral {
		width: 180px;


		position: relative;
/*		bottom: 0px; */


/*		margin-top: 50px; */


/*		background-color: black; */
		color: #eb9837;
		text-align: center;
		border: 2px solid #000;
		border-radius: 0;
/*		border-radius: 5px 5px 5px 5px; */
		text-decoration: none;
	}



	/* ====================================================================================== */
	/* CONTRATA TU FRANQUICIA =============================================================== */
	/* ====================================================================================== */

	#contrata-franquicia {
		width: 100%;
		height: 100vh;
		min-height: 550px;

	}

	#header-contrata-franquicia {
		margin-top: 50px;
		margin-bottom: 2%;
	}

	#textos-contrata-franquicia {
		padding: 0px 80px 40px 80px;
	}

	.texto-contrata-franquicia {
		padding: 0px 40px 0px 40px;

	}

	.texto-contrata-franquicia p {
		line-height: 5vh;
	}



	/* ================================================================================================ */
	/* NUESTRAS MARCAS ================================================================================ */
	/* ================================================================================================ */

/*	#elegir {
		background-color: #fff;
		color: #000;
		height: auto;
		position: absolute;
	} */

	#personas {
		height: 100vh;
		min-height: 670px;
		padding-top: 50px;
		position: relative;
		color: #000;

	}

	#header-personas {
		text-align:  center;

	}

	#logo-marcas {
		max-width: 350px;
		height: auto;
		margin-top: 10px;
		padding-left: 60px;
		padding-right: 60px;

	}

	#logo-marcas img {
		width: 100%;
	}

	.texto-modelo {
		width: auto;
		margin-top: 20px;

		cursor: pointer;
	}

	.texto-modelo a {
		color: #000;

	}

	.texto-modelo a:hover {
		color: #eb9837;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.texto-modelo img {
		max-width: 200px;
		vertical-align: bottom;
	}

	#elegir-modelo {
		max-width: 1200px;



		min-height: 75vh;
		margin-top: 55px;
		margin-bottom: 50px;
		position: relative;

	}

	.img-modelo img {
/*		width: 100%;
		height: auto; */


		width: auto;
		height: auto;



		position: relative;
		cursor: pointer;

	}

	.img-modelo {
		max-width: 400px;


	}

/*	#elegir_modelo img:hover {
		transform: scale(0.9);
		opacity: 0.9;
		-webkit-transition: all 0.4s ease-in-out 0.5s;
		-moz-transition   : all 0.4s ease-in-out 0.5s;
		-o-transition     : all 0.4s ease-in-out 0.5s;
		-ms-transition    : all 0.4s ease-in-out 0.5s;
		transition        : all 0.4s ease-in-out 0.5s;

	} */

	.persona-item {
		max-width: 447px;
	}

	#personas h1 {
		margin-bottom: 20px;
	}

	.persona-item a:hover {
		cursor: pointer;
	}

	.img-persona {
		width: 100%;
		height: auto;
	}



	/* ====================================================================================== */
	/* QUIENES SOMOS ======================================================================== */
	/* ====================================================================================== */

	#quienes-somos {
		width: 100%;
		height: 100vh;
		min-height: 650px;
		position: relative;

	}

	#header-quienes-somos {
		margin-top: 50px;
		margin-bottom: 10px;

		font-size: 2vh;
	}

	.texto-quienes-somos {
		padding: 0px 40px 0px 40px;
	}

	.texto-quienes-somos p {
		line-height: 35px;

		font-size: 2vh;
	}




	#directorio-rrhh {
		max-width: 87vw;
		max-height: 87vh;
	}



	.persona a img {											/* estilo del boton del perfil */
		width: 35px;
		vertical-align: bottom;

		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.persona a img:hover {

		cursor: pointer;
	}



	#logo-quienes-somos {
		max-width: 10vw;
		min-width: 80px;
		max-height: 10vw;
		min-height: 80px;


		margin-left: auto;
		margin-right: auto;
/*		padding-left: 70px;
		padding-right: 70px; */
	}


	/* ================================================================================= */
	/* PREGUNTAS FRECUENTES ============================================================ */
	/* ================================================================================= */

	#servicios {
		height: auto;
		min-height: 100vh;
		margin-left: 0px;
		margin-right: 0px;
		position: relative;
		background-color: white;

	}

	#servicios-panel {
		position: relative;
		margin-top: 50px;

	}




	#header-servicios h1 {
		margin-bottom: 10px;

	}





	#faq-panel {
		padding-left: 15px;
		padding-right: 15px;
	}

	.panel-group .panel {
		margin-top: 7vh;
		margin-bottom: 7vh;

		border: none;
		border-radius: 0;
		box-shadow: none;
		border-bottom: 1px solid #c6c7cc ;

	}

	.panel-default > .panel-heading {
		background-color: transparent;
		background-image: none;

	}

	.faq {


	}

	.faq a:hover {
		color: #eb9837;

	}

	.faq a:active, .faq a:focus {
		color: #eb9837;
		text-decoration: none;
		outline: none;
	}





	.servicios-item {
		height: 40px;
		margin-top: 15px;
		margin-bottom: 15px;

		color: #000;
/*		border: 1px solid #999999;
		border-radius: 5px 5px 5px 5px; */
	}

	.servicios-item a {
		color: #000;
	}

	.servicios-item a:hover {
		color: #eb9837;
		cursor: pointer;
		transform: scale(1.05);
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}



	/* MENU INBAR ======================================================================================= */

	#menu-inbar  {
		position     : relative;
		width        : 100%;
		margin-top   : 50px;
		margin-bottom: 20px;
	}


	#menu-inbar .col-md-1 a {
		position: relative;

		font-size: 20px;
		left: 50%;
		padding-top: 30px;
		text-decoration: none;

	}

	#menu-inbar .col-md-1 a:hover {
		border-top: 2px solid #999999;
	}



	/* ======================================================================================== */
	/* PIE2 =================================================================================== */
	/* ======================================================================================== */

	#pie2 {
/*		background-color: 	rgba(256, 256, 256, 1.0); */
		background: url(/images/bg/img-bg-pie.jpg) repeat center center;
		width: 				100%;
/*		height: 			640px; */
		height: 			auto;
/*		padding-left: 		8%;
/*		padding-right: 		5%;
		color: 				white;
		position: 			absolute;
		overflow: 			hidden;
/*		display: 			-webkit-flex;
		display: 			flex;
		-webkit-flex-direction: 	column;
		flex-direction: 			column;
		-webkit-justify-content: 	space-around;
		justify-content: 			space-around;
		border: 					none !important; */
	}

	#img-bg-pie {

	}

	#rrss-pie {
		height: 100px;
		padding-left: 		0%;
		padding-right: 		5%;
		margin-top: 		40px;

	}

	#rrss-pie ul {
		height: 100%;
	}


	.img-logo-sm {
		width: auto;
		margin-left:   11%;
		display: inline-block;
	}

	.img-logo-sm img {
		width: 40px;
		height: auto;
		vertical-align: middle;
	}

	.img-logo-sm a {
		cursor: pointer;
	}



	#marcas-pie {
		width: 100%
		margin-top: 70px;
		margin-bottom: 65px;

	}

	.col-marca-pie {
		height: auto;
		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
		justify-content: center;				/* alineacion horizontal */

	}

	.centrado-v-h {
		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
		justify-content: center;				/* alineacion horizontal */
	}

	.img-marca-pie {
		max-width: 250px;
	}

	.img-marca-pie img {
		max-width: 100%;
		height: auto;
	}


	#copyright, #header-pie, #footer-pie {
		width: 100%;
		min-height: 60px;
		padding-top: 50%
		padding-bottom: 50%;
		position: relative;
		bottom: 0px;
		background-color: #eb9837;
		color: #fff;
		text-align: center;

/*		display: flex;							/* necesario para alineacion */
/*		align-items: center; 					/* alineacion vertical */
/*		justify-content: center;				/* alineacion horizontal */
	}

	#header-pie {

		text-align: center;

	}

	#copyright, #header-pie, #footer-pie h4 {
		padding-top: 10px;

	}


	.fb-share-button {
		margin-top: 0;
	}



	/* PIE =================================================================================== */

/*	#pie {
		background-color: 	rgba(0, 0, 0, 0.9);
		width: 				100%;
		height: 400px;
		padding-left: 		8%;
		padding-right: 		5%;
		color: 				white;
		position: 			absolute;
		overflow: 			hidden;
		display: 			-webkit-flex;
		display: 			flex;
		-webkit-flex-direction: 	column;
		flex-direction: 			column;
		-webkit-justify-content: 	space-around;
		justify-content: 			space-around;
		border: 					none !important;
	}

	#pie h4 {
		margin-bottom: 20px;
	}

	.img-logo-sm {
		margin-left: 15%;
		margin-bottom: 15px;

	}

	.img-logo-sm img {
		width:         30px;
		height:        100%;
		align-content: middle;
	}

	.img-logo-sm a {
		cursor: pointer;
	}


	.rrss-pie{
		display: inline-block;
		vertical-align: top;
	}

	.fb-share-button {
		margin-top: 0;
	} */

	/* CONTACTO2 =================================================================================== */

	#img-bg-contacto2 {
		min-width: 100vw;

		height: 100%;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	#contacto2 {
/*		background-color: 	rgba(0, 0, 0, 1); */
/*		background: url(/images/bg/fondo-contacto.jpg) no-repeat center center; */
		width: 				100%;
		height: 			100vh;
		vertical-align: 	middle;
		min-height: 		500px;
		padding-left: 		8%;
		padding-right: 		5%;
		color: white;
		position: 			relative;
		overflow: 			hidden;
		display: 			-webkit-flex;
		display: 			flex;
		-webkit-flex-direction: 	column;
		flex-direction: 			column;
		-webkit-justify-content: 	space-around;
		justify-content: 			space-around;
	}

	#header-contacto2 {
		position: relative;
		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
		justify-content: center;				/* alineacion horizontal */

	}

	#contacto2 h1 {
		font-size: 32px;
	}

	#contacto2 h2 {
		font-size: 38px;
		line-height: 75px;
	}

	#check-lopd {
		margin-top:30px;
	}

	#check-lopd a span {
		color: #eb9837;
		cursor: pointer;
		text-decoration: underline;
	}


	/* PAGINA WEBFORM CONTACTC ============================================================================== */
	#webform-panel1 {
		background: url(/images/calle.jpg) no-repeat fixed center;
		height: 	100vh;
		overflow: 	hidden;
	}

	#jumbo-contacto {
		background-color: rgba(238, 238, 238, 0.3);
		color           : black;
		margin-top      : 20vh;
		margin-left     : auto;
		margin-right    : auto;
		max-width       : 700px;
		text-align      : center;
	}


	/* PARA PONER VIDEOS EN BACKGROUNDS ============================================================================== */

	.fullscreen-bg {
		position: 	absolute;
		overflow: 	hidden;
		z-index: 	-100;
		height: 	100vh;
	}

	.fullscreen-bg__video {
		position: 	relative;
		width: 		100%;
		height: 	100vh;
	}

	@media (min-aspect-ratio: 16/9) {
		.fullscreen-bg__video {
	    	height: 300%;
	    	top: -100%;
		}
	}

	@media (max-aspect-ratio: 16/9) {
		.fullscreen-bg__video {
    		width: 		300%;
    		left: 		-100%;
		}
	}





	/* ========================================================================================================== */
	/* ========================================================================================================== */
	/* ========================================================================================================== */
	/* CONTROL FORMATO PANTALLA MOVIL =========================================================================== */
	/* ========================================================================================================== */
	/* ========================================================================================================== */
	/* ========================================================================================================== */


	@media handheld, only screen and (max-width: 767px) {			/* movil */



		.ocultar-movil{
			display: none;
		}

		.ocultar-pc {

			display: block;
		}


		#inicio {
			min-height: 450px;						/* si cambias este parametro, tambien el  #wrap */
		}

		/* ================================================================== */
		/* ANIMACION INICIO MOVIL =========================================== */
		/* ================================================================== */

		#wrap {
			max-width: 100%;
			min-width: 100%;
			height: auto;
			margin-left: -150px;
/*			max-height: 100vh; */
			min-height: 450px;					/* si cambias este parametro, tambien el  #inicio */

			margin-top: 70px;					/* empuja div hacia abajo */

		}

		#wrap img.bgfade {

			max-width: 100%;
			margin-left: -100px;
			padding-bottom: 70px;				/* comprime div hacia arriba */



		}



		/* ================================================================== */
		/* MENU INICIO ====================================================== */
		/* ================================================================== */


		#menu-inicio {

			position: absolute;
			background: url(/images/logos/inbaar-menu.png) no-repeat center center;
/*			background: transparent; */

		}

		#menu-inicio-items {
			margin-left: 0px;

/*			background-color: rgba(0, 0, 0, 1);
/*			border-top: 1px solid #999999;
			border-bottom: 1px solid #999999; */
		}

		.menu-inicio-item {
			margin-left: 0px;
			padding-left: 0px;
			padding-top: 10px;
			background-color: rgba(0, 0, 0, 0.8);
		}

		.menu-inicio-item a {

			font-size: 16px;

		}

		.menu-inicio-item:nth-child(1) {
			border-bottom: 1px solid #999999;
		}
		.menu-inicio-item:nth-child(2) {
			border-bottom: 1px solid #999999;
		}
		.menu-inicio-item:nth-child(3) {
			border-bottom: 1px solid #999999;
		}
		.menu-inicio-item:nth-child(4) {
			border-bottom: 1px solid #999999;
		}
		.menu-inicio-item:nth-child(5) {
			border-bottom: 1px solid #999999;
		}

		.menu-inicio-item:nth-child(6) {
			border-bottom: 1px solid #999999;
		}

		.dropdown-menu-inicio-item {
			border-bottom: none;
		}

		.dropdown-menu-inicio-item img {
			transform: scale(0.8);
		}

		#logo-inicio {
			top: 100px;
			transform: scale(0.8);
		}

		#calma {
			font-size: 18px;
		}



		/* ====================================================================================== */
		/* CONTRATA TU FRANQUICIA =============================================================== */
		/* ====================================================================================== */

		#contrata-franquicia {
			min-height: 100vh;
		}

		#header-contrata-franquicia {
			margin-top: 0px;
			transform: scale(0.8);
		}

		#textos-contrata-franquicia {
			padding: 0px 10px 0px 10px;
		}

		.texto-contrata-franquicia {
			padding: 0px 20px 0px 20px;
		}

		.texto-contrata-franquicia p {
			line-height: 12px;
		}




		#contacto2 h1 {
			font-size: 30px;
		}

		#contacto2 h2 {
			font-size: 20px;
		}


		/* ========================================================================== */
		/* NUESTRAS MARCAS ========================================================== */
		/* ========================================================================== */

		#personas {
/*			min-height: 100vh; */
			height: auto;
			padding-top: 10px;
		}

		#personas h1 {
			font-size: 22px;
		}

		#personas h3 {
			font-size: 18px;
		}

		#personas h2 {
			font-size: 18px;
		}

		.persona-item {
			margin-bottom: 20px;
			border-bottom: 1px solid #999999;
		}

		.img-persona {
			width: 50px;
			height: 50px;
/*			transform: scale(0.5); */
		}

		#logo-marcas {
			margin-top: 25px;
			transform: scale(0.8);
		}

		#elegir-modelo {
			margin-top: 10px;
		}

		.texto-modelo {
			margin-top: 10px;
			margin-bottom: 50px;

		}


/*		.modelo h1 {
			font-size: 12px;
/*			transform: scale(0.3); */
/*		}

		.modelo img {
			height: 30px;
		}  */



		/* ========================================================================== */
		/* QUIENES SOMOS ============================================================ */
		/* ========================================================================== */

		#quienes-somos {
			height: auto;

		}

		#directorio-rrhh {
			max-height: 100%;
		}


		#header-quienes-somos {
			margin-top: 10px;
		}

		#header-quienes-somos h1 {
			font-size: 20px;
		}

		#textos-quienes-somos {
			padding: 0px;
		}

		.texto-quienes-somos {
			padding: 0px 20px 0px 20px;
		}

		.texto-quienes-somos p {
			line-height: 12px;
		}



		/* ========================================================================== */
		/* PREGUNTAS FRECUENTES ===================================================== */
		/* ========================================================================== */

		#servicios {
			height: auto;
			min-height: 100vh;
		}

		#servicios-panel {
			margin-top: 10px;
		}

		#servicios-panel h1 {
			margin-bottom: 40px;
			font-size: 20px;
		}

		#servicios-panel h4 {
			font-size: 12px;
		}

		.panel-group .panel {
			margin-top: 2vh;
			margin-bottom: 2vh;


		}


		.faq {

		}

		.servicios-item {
			height: auto;
			margin-top: 5px;
			margin-bottom: 5px;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid #999999;
		}




		/* ========================================================================== */
		/* CONTACTO2 ================================================================ */
		/* ========================================================================== */

		#contacto2 h1 {
			font-size: 22px;
		}

		#contacto2 h2 {
			margin-bottom: 40px;
			line-height: 20px;
		}




		/* ========================================================================== */
		/* PIE2 MOVIL =============================================================== */
		/* ========================================================================== */



		.img-logo-sm {
			transform: scale(0.8);
			margin-left: 0%;
		}

		.img-logo-sm img {
			padding-top: 5px;
			margin-left: 0%;
		}



		#rrss-pie {
			padding-left: 		0%;
			padding-right: 		0%;


		}

		#copyright h4 {
			font-size: 10px;
		}




/*		.img-marca-pie {
			transform: scale(0.8);
		} */



/*		#pie {
			height: 100vh;
			padding-left: 0%;
			padding-right: 0%;
		}

		#pie h4 {
			margin-bottom: 10px;
			font-size: 15px;
		}

		#pie h6 {
			font-size: 13px;
		} */




		#menu-inbar .col-md-1 a:hover {
			border-top: none;
		}
/*		#inicio {
			height: auto;
			background: url(/images/floxy/inbarasset.png) no-repeat fixed center;
		}
		#img-inicio {
			visibility: hidden;
		} */
	}


	/* ========================================================================================================== */
	/* ========================================================================================================== */
	/* ========================================================================================================== */
	/* CONTROL FORMATO PANTALLA TABLET ========================================================================== */
	/* ========================================================================================================== */
	/* ========================================================================================================== */
	/* ========================================================================================================== */


	@media only screen and (max-width: 1023px) {  			/* tablet */
	@media only screen and (min-width: 768px) {  			/* tablet */



		.ocultar-movil{
			display: none;
		}

		.col-pie, .servicios-contenido {
			border-bottom: 1px solid #999999;
		}

		#menu-inicio-items {

/*			background-color: rgba(0, 0, 0, 0.8);
/*			border-top: 1px solid #999999;
			border-bottom: 1px solid #999999; */
		}

		.menu-inicio-item a {
/*			margin-left: 0px; */
/*			padding-left: 0px; */
			font-size: 12px;
		}


		#logo-inicio {
			top: 100px;
			transform: scale(0.8);
		}
/*		#inicio {
			height: auto;
			background: url(/images/floxy/inbarasset.png) no-repeat fixed center;
		}
		#img-inicio {
			visibility: hidden;
		} */


		/* ========================================================================== */
		/* QUIENES SOMOS ============================================================ */
		/* ========================================================================== */

		#quienes-somos {
			height: auto;

		}

		#directorio-rrhh {
			max-height: 100%;
		}


		#header-quienes-somos {
			margin-top: 10px;
		}

		#header-quienes-somos h1 {
			font-size: 20px;
		}

		#textos-quienes-somos {
			padding: 0px;
		}

		.texto-quienes-somos {
			padding: 0px 20px 0px 20px;
		}

		.texto-quienes-somos p {
			line-height: 12px;
		}



		/* ======================================================================================== */
		/* PIE2 tablet ============================================================================ */
		/* ======================================================================================== */

		#rrss-pie {

			padding-left: 		2%;
			padding-right: 		1%;

		}

		.img-logo-sm {
			margin-left:   10%;
		}

		.img-logo-sm img {
			width: 40px;

		}


	}
}





	iframe {
		display: 	block;
		margin: 	auto;
		padding: 	0;
		width: 		90%;
	}

	#front-panel, #quizes-panel, #temas-panel, #showbytema-panel, #stats-panel, #db-panel {
		background-color: 	rgba(238, 238, 238, 0.6);
		box-shadow: 		10px 10px 5px #D7D7D7;
		overflow: 			visible;
		max-width: 			95%;
	}

	.comment-row {
		width: 				100%;
		margin-top: 		15px;
		margin-bottom: 		10px;
		background-color: 	rgba(238, 238, 238, 0.4);
		box-shadow: 		5px 5px 5px #D7D7D7;
	}

	.comment-panel {

		background-color: 	rgba(238, 238, 238, 0.4);
		border-bottom: 		1px solid #D8D8D8;
	}

	#login, #new-edit {
		max-width: 			960px;
	}
