
/*	@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700); */


/*	@font-face {
		font-family: 'Marguerite';
		src: url('/fonts/marguerite.ttf');
	}

	@font-face {
		font-family: 'Honey';
		src: url('/fonts/HoneyScript-SemiBold.ttf');
	} */

	@font-face {
		font-family: 'TrashHand';
		src: url('/fonts/TrashHand.TTF');
	}

/*	desativada por mucho peso
 	@font-face {
		font-family: 'Kalinga';
		src: url('/fonts/Kalinga.ttf');
	} */

/*	@font-face {
		font-family: 'Conman';
		src: url('/fonts/Conman.ttf');
	} */



	body {
/*		font-family     : 'Kalinga', Calibri, Arial, sans-serif; */
		padding-bottom  : 0;
		overflow-x: hidden;
	}

	ol, ul {
		list-style: none;
	}

	a:hover {
		text-decoration: none;
	}

	.navbar {
		margin-bottom: 0;
		border-radius: 0;
	}

	.form-group input, select {
		max-width: 90%;
		border-radius: 0;
	}

	.container-fluid {
	    padding: 0px;
		overflow: hidden;

	}


	.navbar-toggle {									/* estilos boton toggle del menu-inicio */
		width: 47px;
		height: 46px;
		background-color: rgba(0, 0, 0, 1);
		top: 4px;

	}

	.navbar-collapse, .navbar-collapse.collapse.in, .col-md-2 {
		margin: 0px;
/*		padding-right: 0px; */
	}

	.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {		/* cambia color de las opciones del menu-inicio despues del click */
		background-color: transparent;
	}

	.dropdown-menu {
		padding: 0px;
	}

	li nav a, .dropdown a {

		color: white;
		font-size: 18px;
	}




	.no-padding {
		padding: 0px;
	}

	.no-margin {
		margin: 0px;
	}

	.centrado-v-h {
		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
		justify-content: center;				/* alineacion horizontal */
	}

	.centrado-v {
		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
	}


	.ir-a-contacto {							/* estilo del texto para ir al formulario*/
		text-align: right;

	}


	.ir-a-contacto p, nav, a {
		display: inline-block;


	}

	.ir-a-contacto a:active, .ir-a-contacto a:focus, #adjuntar a:active, #adjuntar a:focus, {
		outline: 0;
		text-decoration: none;
	}


	#lista-idiomas {
		background-color: rgba(0, 0, 0, 0.8);
	}

	#lista-idiomas a {
		color: white;
		font-size: 12px;
	}

	#lista-idiomas a:hover {
		color: black;
	}






	/* MODALS ==================================================================== */

	#panel-elegir-franquicia, #panel-mediterraneo, #panel-elsol, #panel-after,
		#panel-mas-preguntas, #panel-modal-seguir-leyendo, #panel-perfil-1, #panel-perfil-2, #panel-perfil-3, #panel-modal-adjuntar {
		padding-left: 0px;

	}

	#modal-adjuntar {
		margin-top: 39px;
	}


	#modal-elsol, #modal-mediterraneo, #modal-after, #modal-mas-preguntas, #modal-seguir-leyendo,
		#modal-perfil-1, #modal-perfil-2, #modal-perfil-3, #modal-adjuntar {
		width: 75%;
		color:	rgb(0, 0, 0);
	}



	#modal-content-mas-preguntas, .modal-header, .modal-footer {
		border: none;

	}

	.modal-content {
		border-radius: 0;

/*		border: 1px solid #000; */
	}

	.modal-body .col-marca-pie img {			/* estilo logos pie del modal perfil de rrhh */
		margin-top: 60px;
		min-width: 60px;
	}

	/* ESTILOS DEL MODAL-MENU ABRE TU FRANQUICIA ======================================================= */
	#modal-elegir-franquicia {
		max-width: 400px;
		margin-top: 110px;
		color: rgb(218, 165, 32);
		position: relative;
	}

	.modal-franquicia-item {
		margin-top: 		15px;
	}

	.modal-franquicia-item img {
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
	}
	/* ====================================================================================================*/





	/* ================================================================================================ */
	/* INICIO ========================================================================================= */
	/* ================================================================================================ */

	.bordes {
/*		border-top: 	2px inset black;
		border-bottom: 	2px groove #c6c7cc; */

/*		border-top: 2px solid rgba(256, 256, 256, 0.8); */
/*		width: 80%; */
/*		border-top: 1px solid #c6c7cc; */
		border-bottom: 1px solid #c6c7cc; */


	}

	.img-header-secciones {
		vertical-align: bottom;
	}



	.titulo-secciones {

/*		padding-top: 5px;        activar si fuente Kalinga    */
		color: #eb9837;
		background-color: #000;



	}





	.ocultar {																/* a esta esta clase le cambio css desde autoscroll.js */
    	opacity: 0;
	}

	.ocultar-pc {
		display: none;
	}


	#inicio {

		height: 	100vh;
		min-height: 550px;					/* si cambias este parametro, tambien el  #wrap */
		overflow: 	hidden;

	}

	#logo-inicio {
		width: 100%;
		margin-top: 20vh;
		position: relative;
		color: white;
	}

	#logo-inicio img {
		max-width: 180px;
		height: auto;
		margin: 0px auto 20px auto;
	}

/*	#logo-inicio h1 {
		font-size: 42px;
	}

	#logo-inicio h5 {
		font-size: 22px;
	} */

	#calma {
		min-width: 100%;
		margin-left: auto;
		margin-right: auto;
		position: absolute;

		font: bold 50px TrashHand, verdana, sans-serif;
		text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
/*		color: hsla(240, 100%, 50%, 0.5); */
		color: #fff;
	}

	#calma h2 {
		font-size: 10vh;
		padding-left: 22px;
	}


	#wrap {
		min-width: 100%;
		height: 100%;
		min-height: 550px;						/* si cambias este parametro, tambien el  #inicio */
		position: absolute;
		z-index: -1;
		overflow: hidden;
		background-color: rgba(0, 0, 0, 1);
		right: 0;
	}


	#wrap img.bgfade {
		width: 100%;
		min-width: 700px;
		height: 100%;
		min-height: 100vh;
		display: none;
		position: absolute;
		overflow: hidden;
/*		margin: 0;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0; */
/*		margin-left: -800px;			/* centrado x */
/*		margin-top: -450px;				/* centrado y */
/*		left: 50%;						/* centrado x */
/*		top: 50%;						/* centrado y */
		z-index: -1;
	}

	.alerta-cookies {													/* etilo aviso cookies */
		max-width: 300px;
		margin-left: 10vw;
		margin-top: 30vh;
		position: fixed;

		z-index: 3;
		visibility: visible;
	}


	.alerta-panel {
		background-image: none;
		background-color: rgba(0, 0, 0, 0.8);


	}


	/* estilos de menu-admin =================================================================================== */

	#menu-admin {
		width: 100%;
		height: 70px;				/* lo modifica autoscroll.js */

		margin-top: 70px;
		margin-right: auto;
		margin-left: auto;
		position: absolute;
		z-index: 3;

		background-color: rgba(0, 0, 0, 0.8);

		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;

	}




	/* estilos de menu-inicio =================================================================================== */

	#menu-inicio {
		width: 100%;
		height: 70px;				/* lo modifica autoscroll.js */
		top: 0;
		left: 0;
		margin-top: 0px;
		margin-right: auto;
		margin-left: auto;
		position: fixed;
		z-index: 3;
/*		background: url(/images/logos/inbaar-pie.jpg) no-repeat center center; */
		background-color: rgba(0, 0, 0, 0.8);

		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;

	}

	#menu-inicio-items {												/* estilo de todos los items del menu-inicio */
/*		margin-left: 0%;
		padding: 0px; */
		position: relative;



	}

	.menu-inicio-item {
		position: relative;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.menu-inicio-item, .dropdown-menu-inicio-item {						/* estilo de cada item del menu-inicio y de cada item de los dropdown */
		padding: 20px 0px 10px 0px;										/* modifica autoscroll.js */

	}

	.menu-inicio-item a {

		font-size: 1.2vw;

		cursor: pointer;
		text-decoration: none;
/*		color: #fff; */
	}

	.menu-inicio-item :hover {
		color: #eb9837;
	}

	.menu-inicio-item a:active, .menu-inicio-item a:focus,						/* elimina del dot alrededor y activa color */
	.dropdown-menu-inicio-item a:hover, .dropdown-menu-inicio-item a:focus,
	#subir-inicio a:hover, #subir-inicio a:focus {
		color: #eb9837;
		outline: 0;
	}

/*	.menu-inicio-item li a:active {
		color: yellow;
		background-color: yellow;
	}

	.menu-inicio-item li.selected a {
		color: yellow;
		background-color: yellow;
	} */


	.dropdown-menu-inicio {												/* estilo de los dropdown del menu-inicio */
		background-color: rgba(0, 0, 0, 0.8);
		border: none;
	}

	.dropdown-menu-inicio-item {										/* estilo de cada item de los dropdown */
		padding-left: 15px;
		padding-right: 15px;
		border-bottom: 1px solid #999999;
	}

	.dropdown-menu-inicio-item:hover {
		background-color: rgba(132, 132, 132, 0.4);
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

/*	.dropdown-menu-inicio:last-child {             lo hago directo en html en el ultimo item
		border-bottom: none;
	} */

	.dropdown-menu-inicio-item img {
		width: 100%;
		text-align: center;
	}



	/* ================================================================================================================ */

	#subir-inicio {
		width: auto;
		position: fixed;
		bottom: 10px;
		right: 15px;
		visibility: hidden;
		z-index: 2;


		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	#subir-inicio-icon {
		background-color: transparent;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.boton-pie-seccion {
		width: 180px;
		height: 40px;
		margin-top: 10vh;
	}

	.boton-pie-seccion a:hover {
		color: black;
	}

	.btn-info-gral {
		width: 180px;
		position: relative;
		color: #eb9837;
		text-align: center;
		border: 1px solid #000;
		border-radius: 0;
/*		border-radius: 5px 5px 5px 5px; */
		text-decoration: none;
	}



	/* ====================================================================================== */
	/* CONTRATA TU FRANQUICIA =============================================================== */
	/* ====================================================================================== */

	#abrir-un-bar {
		width: 100%;
/*		height: 100vh;
		min-height: 550px; */

		height: auto;
		min-height: 100vh;

	}

	#header-contrata-franquicia {
		margin-top: 50px;
		margin-bottom: 2%;
	}

	#textos-contrata-franquicia {
		padding: 0px 80px 40px 80px;
	}

	.texto-contrata-franquicia {
		padding: 0px 40px 0px 40px;

	}

	.texto-contrata-franquicia p {
		margin-bottom: 3vh;
		font-size: 2.2vh;
		line-height: 4vh;
		text-align: justify;
	}

	.texto-contrata-franquicia img {
		width: 60px;
		margin-bottom: 11px;
	}



	/* ================================================================================================ */
	/* NUESTRAS MARCAS ================================================================================ */
	/* ================================================================================================ */

/*	#elegir {
		background-color: #fff;
		color: #000;
		height: auto;
		position: absolute;
	} */

	#personas {
		height: auto;
		min-height: 100vh;
		padding-top: 50px;
		position: relative;
		color: #000;
		font-size: 1.8vh;
	}

	#personas p {

	}


	.separador {					/* separador de parrafos centro seccion */
/*		visibility: hidden;			/* po mazon */
		text-align: center;
	}

	.separador ul li {
		display: inline-block;
	}



	#header-personas h2 {
		margin-top: 60px;
		font-size: 4vh;
		text-align:  center;
	}




/*	#logo-marcas {
		max-width: 30px;
		height: auto;
		margin-top: 10px;
		padding-left: 60px;
		padding-right: 60px;

	}

	#logo-marcas img {
		width: 100%;
	} */

	.texto-modelo {								/* logo bajo imagen marca */
		width: auto;
		margin-top: 5px;
		margin-bottom: 5px;

		cursor: pointer;
	}

	.texto-modelo a {
		color: #000;

	}

	.texto-modelo a:hover {
		color: #eb9837;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.texto-modelo img {
		width: 12vw;
		min-width: 120px;
		vertical-align: bottom;
	}

	#elegir-modelo {
		max-width: 1400px;					/* ancho que ocupa el row central */
/* 		min-height: 75vh;*/
		margin-top: 6vh;
		margin-bottom: 0px;
		position: relative;

	}

	#elegir-modelo h3, h4 {					/* margenes de los titulos del centro seccion */
		margin-top: 1vh;
		margin-bottom: 2vh;
	}


	.img-modelo {							/* imagen de la marca  */

		max-width: 350px;					/* ancho maximo de las imagenes */
		margin-left: auto;
		margin-right: auto;

	}

	.img-modelo img {
		width: 100%;
		height: auto;
		position: relative;
		cursor: pointer;

	}



/*	#elegir_modelo img:hover {
		transform: scale(0.9);
		opacity: 0.9;
		-webkit-transition: all 0.4s ease-in-out 0.5s;
		-moz-transition   : all 0.4s ease-in-out 0.5s;
		-o-transition     : all 0.4s ease-in-out 0.5s;
		-ms-transition    : all 0.4s ease-in-out 0.5s;
		transition        : all 0.4s ease-in-out 0.5s;

	} */

	.persona-item {
		max-width: 447px;
	}

	#personas h1 {
		margin-bottom: 20px;
	}



	.persona-item a:hover {
		cursor: pointer;
	}

	.img-persona {
		width: 100%;
		height: auto;
	}



	/* ====================================================================================== */
	/* QUIENES SOMOS ======================================================================== */
	/* ====================================================================================== */

	#quienes-somos {
		width: 100%;
		height: auto;
		min-height: 100vh;
		position: relative;
	}

	#header-quienes-somos h2 {
		margin-top: 65px;
		margin-bottom: 10px;
		font-size: 4vh;
	}

	.texto-quienes-somos {
		padding: 0px 0px 0px 35px;
	}

	.texto-quienes-somos p {
		line-height: 3.5vh;
		font-size: 2.2vh;
		text-align: justify;
	}




	#directorio-rrhh {
		margin-top: 6vh;
		max-width: 87vw;
		max-height: 87vh;
	}

	.persona {

	}

	.persona a img {											/* estilo del boton del perfil */
		width: 35px;
		vertical-align: bottom;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.persona a img:hover {
		cursor: pointer;
	}



	.cargo {


	}

	#logo-quienes-somos {
		max-width: 10vw;
		min-width: 80px;
		max-height: 10vw;
		min-height: 80px;
		margin-left: auto;
		margin-right: auto;
/*		padding-left: 70px;
		padding-right: 70px; */
	}


	/* ================================================================================= */
	/* PREGUNTAS FRECUENTES ============================================================ */
	/* ================================================================================= */

	#servicios {
		height: auto;
		min-height: 100vh;
		margin-left: 0px;
		margin-right: 0px;
		position: relative;
		background-color: white;

	}

	#servicios-panel {
		position: relative;
		margin-top: 50px;

	}




	#header-servicios h2 {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 4vh;

	}





	#faq-panel {
		padding-left: 15px;
		padding-right: 15px;
	}

	.panel-group .panel {
		margin-top: 4vh;
		margin-bottom: 6vh;
		border: none;
		border-radius: 0;
		box-shadow: none;
		border-bottom: 1px solid #c6c7cc ;

	}

	.panel-default > .panel-heading {
		min-height: 60px;
		background-color: transparent;
		background-image: none;

	}

	.faq {


	}

	.faq a:hover {
		color: #eb9837;

	}

	.faq a:active, .faq a:focus {
		color: #eb9837;
		text-decoration: none;
		outline: none;
	}



	/* ======================================================================================== */
	/* PIE2 =================================================================================== */
	/* ======================================================================================== */

	#pie2 {
		background: url(/images/bg/img-bg-pie.jpg) repeat center center;
		width: 100%;
		height: auto;
	}

	#img-bg-pie {

	}

	#rrss-pie {
		height: 100px;
		margin-top: 40px;
	}

/*	#rrss-pie ul {
		height: 100%;
	} */

	.img-logo-sm {
		width: auto;
		margin-left: 5vw;
		margin-right: 5vw;

	}

	.img-logo-sm img {
		width: 40px;
		height: auto;
	}

	.img-logo-sm a {
		cursor: pointer;
	}

	.marcas-pie {
		width: 100%
		margin-top: 70px;
		margin-bottom: 65px;
	}

	.col-marca-pie {
		height: auto;
		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
		justify-content: center;				/* alineacion horizontal */
	}

	.img-marca-pie {
		max-width: 200px;
	}

	.img-marca-pie img {
		max-width: 100%;
		height: auto;
	}

	#copyright, #header-pie, #footer-pie {
		width: 100%;
		min-height: 60px;
		padding-top: 50%
		padding-bottom: 50%;
		position: relative;
		bottom: 0px;
		background-color: #eb9837;
		color: #fff;
		text-align: center;

/*		display: flex;							/* necesario para alineacion */
/*		align-items: center; 					/* alineacion vertical */
/*		justify-content: center;				/* alineacion horizontal */
	}

	#header-pie {
		text-align: center;
	}

	#copyright, #header-pie, #footer-pie h4 {
		padding-top: 10px;
	}

	.fb-share-button {
		margin-top: 0;
	}




	/* CONTACTO2 =================================================================================== */

/*	.trampa {display: none}; */

	#enviar {				/* no lo quites */

	}

	.subir-fichero {



	}



	#img-bg-contacto2 {
		min-width: 100vw;

		height: 100%;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	#contacto2 {
		width: 				100%;
		height: 			auto;
		min-height: 		100vh;
		vertical-align: 	middle;
		padding-left: 		8%;
		padding-right: 		5%;
		color: white;
		position: 			relative;
		overflow: 			hidden;
		display: 			-webkit-flex;
		display: 			flex;
		-webkit-flex-direction: 	column;
		flex-direction: 			column;
		-webkit-justify-content: 	space-around;
		justify-content: 			space-around;
	}

	#header-contacto2 {
		position: relative;
		display: flex;							/* necesario para alineacion */
		align-items: center; 					/* alineacion vertical */
		justify-content: center;				/* alineacion horizontal */

	}

	#contacto2 h2 {
		margin-top: 60px;
		font-size: 4vh;
	}

	#contacto2 h3 {
		font-size: 38px;
		line-height: 75px;
	}

	input {
		border-radius: 0;
	}

	#check-lopd {
		margin-top:30px;
		margin-left: 0px;
	}

	#check-lopd a span {
		color: #eb9837;
		cursor: pointer;
		text-decoration: underline;
	}

	#panel-captcha {



	}

	#recaptcha, iframe {


		margin-top: 15px;
		margin-left: -14px;




	}


/*	#grupo-captcha {

		width: 19vw;
		margin-top: 15px;

	}

	#codigo-captcha {
		display: inline-block;
		color: #eb9837;
		font: bold 28px Conman, verdana, sans-serif;
	}

	#texto-captcha {
		background-color: transparent;
	}

	#recargar-captcha, #soy-persona {
		cursor: pointer;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	} */

	#agregar-comentario {

		margin-top: 25px;
		position: relative;
		max-width: 80%;



	}


	#comentario {

		max-width: 100%;
		margin-top: 30px;

	}

	#contactos {								/* tabla contactos */

		margin: 150px 20px 0px 20px;
		overflow: auto;

	}


	/* PAGINA WEBFORM CONTACTC ============================================================================== */
	#webform-panel1 {
		background: url(/images/calle.jpg) no-repeat fixed center;
		height: 	100vh;
		overflow: 	hidden;
	}

	#jumbo-contacto {
		background-color: rgba(238, 238, 238, 0.3);
		color           : black;
		margin-top      : 20vh;
		margin-left     : auto;
		margin-right    : auto;
		max-width       : 700px;
		text-align      : center;
	}


	/* PARA PONER VIDEOS EN BACKGROUNDS ============================================================================== */

	.fullscreen-bg {
		position: 	absolute;
		overflow: 	hidden;
		z-index: 	-100;
		height: 	100vh;
	}

	.fullscreen-bg__video {
		position: 	relative;
		width: 		100%;
		height: 	100vh;
	}

	@media (min-aspect-ratio: 16/9) {
		.fullscreen-bg__video {
	    	height: 300%;
	    	top: -100%;
		}
	}

	@media (max-aspect-ratio: 16/9) {
		.fullscreen-bg__video {
    		width: 		300%;
    		left: 		-100%;
		}
	}



	iframe {
		display: 	block;
		margin: 	auto;
		padding: 	0;
/*		width: 		90%; */
	}

	#front-panel, #quizes-panel, #temas-panel, #showbytema-panel, #stats-panel, #db-panel {
		background-color: 	rgba(238, 238, 238, 0.6);
		box-shadow: 		10px 10px 5px #D7D7D7;
		overflow: 			visible;
		max-width: 			95%;
	}

	.comment-row {
		width: 				100%;
		margin-top: 		15px;
		margin-bottom: 		10px;
		background-color: 	rgba(238, 238, 238, 0.4);
		box-shadow: 		5px 5px 5px #D7D7D7;
	}

	.comment-panel {

		background-color: 	rgba(238, 238, 238, 0.4);
		border-bottom: 		1px solid #D8D8D8;
	}

	#login, #new-edit {
		max-width: 			960px;
	}
