
/* ========================================================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */
/* CONTROL FORMATO PANTALLA TABLET ========================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */


@media only screen and (max-width: 1023px) {  			/* tablet */
@media only screen and (min-width: 768px) {  			/* tablet */



    .ocultar-movil{
        display: none;
    }

    .ocultar-pc {
        display: block;
    }

    .col-pie, .servicios-contenido {
        border-bottom: 1px solid #999999;
    }

    #calma {
        margin-top: 12vh;
    }

    #menu-inicio-items {

/*			background-color: rgba(0, 0, 0, 0.8);
/*			border-top: 1px solid #999999;
        border-bottom: 1px solid #999999; */
    }

    .menu-inicio-item a {
/*			margin-left: 0px; */
/*			padding-left: 0px; */
        font-size: 12px;
    }


    #logo-inicio {
        top: 100px;
        transform: scale(0.8);
    }
/*		#inicio {
        height: auto;
        background: url(/images/floxy/inbarasset.png) no-repeat fixed center;
    }
    #img-inicio {
        visibility: hidden;
    } */

    .alerta {													/* etilo aviso cookies */
        max-width: 700px;
        margin-left: 15vw;
        margin-right: 15vw;
        margin-top: 18vh;
    }


    /* ========================================================================== */
    /* CONTRATA TU FRANQUICIA =================================================== */
    /* ========================================================================== */

    .texto-contrata-franquicia p {
        font-size: 2.5vh;
    }




    /* ========================================================================== */
    /* NUESTRAS MARCAS TABLET =================================================== */
    /* ========================================================================== */

    #personas {
        height: auto;
        font-size: 2.5vh;
    }

    #personas p {
        padding-left: 10vw;
        padding-right: 10vw;
    }



    /* ========================================================================== */
    /* QUIENES SOMOS ============================================================ */
    /* ========================================================================== */

    #quienes-somos {
        height: auto;
        min-height: 100vh;
    }

    #directorio-rrhh {
        max-height: 100%;
    }


    #header-quienes-somos {
        margin-top: 10px;
    }

    #header-quienes-somos h1 {
        font-size: 20px;
    }

    #textos-quienes-somos {
        padding: 0px;
    }

    .texto-quienes-somos {
        padding: 0px 20px 0px 20px;
    }

    .texto-quienes-somos p {
        font-size: 2.5vh;
/*			line-height: 12px; */
    }



    /* ======================================================================================== */
    /* PIE2 tablet ============================================================================ */
    /* ======================================================================================== */

/*    #rrss-pie {

        margin-left: 		1%;
        margin-right: 		1%;

    }


    .img-logo-sm {
        margin-left:   10%;
    }

    .img-logo-sm img {
        width: 40px;

    } */


    /* =========================================================================================== */
    /* ======= CONTACTO2 ========================================================================= */
    /* =========================================================================================== */

    .texto-contacto h5 {
        margin-top: 100px;
        font-size: 30px;
    }

}
}
